table {
    width: 100%;
}

.main-container {
    margin: 20px;
    position: relative;
    /* min-height: 200px; */
}

.table-container {
    
    position: relative;
    overflow: auto;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}


tr.mat-footer-row {
    font-weight: bold;
}

.loading-shade {
    width: 200px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    /* background: rgba(0, 0, 0, 0.15); */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}