<form [formGroup]="form" (ngSubmit)=changePassword()>
  <h2>Component: Change password</h2>

  <label>Old Password</label>
  <input formControlName="oldPassword" type="text" class="form-control">
  <div *ngIf="oldPassword.pending">Checking...</div>
  <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
    <div *ngIf="oldPassword.errors.required">Old password is require</div>
    <div *ngIf="oldPassword.errors.invalidPassword">Password is not valid</div>
  </div>

  <label>New Password</label>
  <input formControlName="newPassword" required type="text" class="form-control">
  <div class="alert alert-danger"  *ngIf="newPassword.touched && newPassword.invalid">
    <div *ngIf="newPassword.errors.required">New password is require</div>
    <div *ngIf="newPassword.errors.minlength">New password is at least {{newPassword.errors.minlength.requiredLength}} characters</div>
  </div>

  <label>Confirm Password</label>
  <input formControlName="confirmPassword" required type="text" class="form-control">  
  <div class="alert alert-danger"  *ngIf="confirmPassword.touched && confirmPassword.invalid">
    <div *ngIf="confirmPassword.errors.required">Confirm password is require</div>
  </div>
  <div class="alert alert-danger"  *ngIf="confirmPassword.valid && form.invalid && form.errors?.passwordUnMatch">
      Passwords do not match
  </div>
  <button class="btn btn-primary">Change Password</button>
</form>