<h2>Component: Using FormBuilder</h2>
<form [formGroup]="form">
    <label>Name</label>
    <input formControlName="name" class="form-control">
    <div formGroupName="contact">
        <label>Email</label>
        <input formControlName = "email" class="form-control">
        <label>Phone</label>
        <input formControlName="phone" class="form-control">
    </div>
    <div class="btn btn-primary" (click)="addTopic()">Add</div>
    <ul class="list-group">
        <li *ngFor="let topic of topics.controls" (click)="removeTopic(topic)"
        class="list-group-item">
            {{topic.value}}
        </li>
    </ul>
</form>


