<h1>Angular</h1>
<courses></courses>
<app-course></app-course>
<app-favorite></app-favorite>
<app-favorite [isFavorite] = "post.isFavorite" (change)="onFavoriteChange($event)"></app-favorite>
<p>Input and output component properties</p>

<bootstrap-panel >
    <div class="heading">Heading</div>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here...</p>
    </div>
</bootstrap-panel>

<bootstrap-panel >
    <ng-container class="heading">ng-container</ng-container>
    <ng-container class="body">
        <h2>ngContainer</h2>
        <p>Instead of div, using ng-container to get better generated html</p>
    </ng-container>
</bootstrap-panel>

<h2>Structural Directive *ngIf</h2>
<div *ngIf="courses.length > 0">
    List of courses
</div>
<div *ngIf="courses.length ===0">
    No courses yet
</div>

<h2>Using ng-template</h2>

<div *ngIf="courses.length > 0; then coursesList else noCourse;"></div>
<ng-template #coursesList>
    List of courses
</ng-template>
<ng-template #noCourse>
    No courses yet
</ng-template>

<h2>Hidden Property</h2>
<div [hidden]="courses.length > 0">
    No courses yet
</div>
<div [hidden]="courses.length == 0">
    List of courses
</div>

<h2>ngSwitch</h2>
<ul class="nav nav-pills">
    <li [class.active]="viewMode=='map'"><a (click)="viewMode='map'">Map View</a></li>
    <li [class.active]="viewMode=='list'"><a (click)="viewMode='list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault></div>
</div>

<h2>ngFor</h2>

<button class="btn btn-primary" (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let course of courses; index as i">
        {{i}} - {{course.name}}
        <button class="button btn-primary" (click)="onRemove(course)">Remove</button>
    </li>
</ul>


<ul>
    <li *ngFor="let course of courses; even as isEven">
        {{course.name}} <span *ngIf="isEven">(EVEN)</span>
        <button class="button btn-primary" (click)="onChange(course)">Change</button>
    </li>
</ul>

<button class="btn btn-primary" (click)="loadCourses()">Load Courses</button>
<ul>
    <li *ngFor="let course of courses; trackBy: trackCourse">
        {{ course.name}}
    </li>
</ul>

<h2>ngStyle</h2>

<button
    [style.backgroundColor] = "canSave? 'blue': 'gray'"
    [style.color] = "canSave? 'white': 'black'"
    [style.fontWeight] = "canSave? 'bold': 'normal'"
>
    Save
</button>
<!-- same but using ngStyle -->
<button

    [ngStyle]="{
        'backgroundColor' : canSave? 'blue': 'gray',
        'color' : canSave? 'white': 'black',
        'fontWeight' : canSave? 'bold': 'normal'
    }"
>
    Save
</button>

<h2>Safe Traversal Operator `?`</h2>
<p>To avoid null exception, can use `?` to verify object</p>
<span *ngIf="task.assignee">{{task.assignee.name}}</span>
<!-- check for not null -->
<span>{{task.assignee?.name}}</span>

<h2>Creating Custom Directives</h2>
<!-- From input-format.directive.ts, update alias to 'appInputFormat' 
    to directly binding to the directive name -->
<!-- Instead of using 
<input type="text" appInputFormat [format]="'uppercase'"/> 
now we can use
-->
<input type="text" [appInputFormat]="'uppercase'"/> 

<app-contact-form></app-contact-form>
<signup-form></signup-form>
<app-array-form></app-array-form>
<app-form-builder></app-form-builder>
<app-login></app-login>