<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
   Angular
  </h1>
  <app-authors></app-authors>
  <app-favorite></app-favorite>
  <app-title-case></app-title-case>
  <app-like 
  [likesCount]="tweet.likesCount"
  [isActive]="tweet.isActive"
  ></app-like>
  <app-zippy title="Shipping Details">
    Shipping Details Content
  </app-zippy>

  <app-zippy title="Billing Details">
      Billing Details Content
  </app-zippy>
  <app-new-course-form></app-new-course-form>
  <app-change-password></app-change-password>
  <app-github-followers></app-github-followers>
</div>
